################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/Gox/win32/OpenKey/.vs/OpenKey
/Sources/Gox/win32/OpenKey/x64/Debug
/Sources/Gox/win32/OpenKey/x64/Release
/Sources/Gox/win32/OpenKey/OpenKey/x64/Debug
/Sources/Gox/win32/OpenKey/OpenKey/x64/Release
/Sources/Gox/win32/OpenKey/OpenKeyUpdate/x64/Release

# macOS
build/
DerivedData/
*.DS_Store
*.dmg
